
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1516682159610-0 {
            width: 1340px;
            background-color: rgb(255, 255, 255);
            min-height: 809px;
            top: 4px;
            left: 6px;
        }
    